body {
  margin: 0;
}

.header {
  display: flex;
  max-height: 65px;
  padding: 19px 20px;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  font-size: 0px;
  color: #fff;
}

.header--logo-h1 {
  display: flex;
  margin-right: auto;
}

.header--logo {
  max-width: 31px;
  max-height: 27px;
}

.header--h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 21px;
  margin: 0;
  padding-left: 5px;
  letter-spacing: -2.075px;
}

.header--text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 6px;
}